$logo-opacity: 0.8;

.logos {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;

  &.logos--fade img {
    @for $i from 1 through 6 {
      &:nth-of-type(6n+#{$i}) {
        opacity: 0 !important;
        transition: opacity #{$i * 0.5}s;
      }
    }
  }

  &.logos--show img {
    @for $i from 1 through 6 {
      &:nth-of-type(6n+#{$i}) {
        transition: opacity #{$i * 0.3}s;
      }
    }
  }

  img {
    opacity: 0;
    position: absolute;
    transition: all 0.3s cubic-bezier(0.55, 0.085, 0.385, 1.65);
    z-index: 10;

    @include xl {
      opacity: 0.9 !important;
    }

    &.adobe-ai {
      @include md-only {
        display: none;
      }

      @include lg {
        opacity: $logo-opacity;
        right: 19.5%;
        top: 65px;
        width: 40px;
      }
    }

    &.adobe-ps {
      @include md-only {
        display: none;
      }

      @include lg {
        opacity: $logo-opacity;
        right: 23%;
        top: 15px;
        width: 40px;
      }

      @include xl {
        right: 22%;
      }
    }

    &.angular {
      display: none;

      @include xl {
        display: block;
        left: 10.5%;
        opacity: $logo-opacity;
        top: 215px;
        width: 40px;
      }
    }

    &.aws {
      display: none;

      @include xl {
        display: block;
        opacity: $logo-opacity;
        right: 24.5%;
        top: 70px;
        width: 40px;
      }
    }

    &.backbone {
      @include xxs-only {
        display: none;
      }

      @include xs {
        left: 17vw;
        opacity: $logo-opacity;
        top: 5vh;
        width: 7vw;
      }

      @include sm {
        left: 14vw;
        top: 7vh;
        width: 5vw;
      }

      @include md {
        left: 70px;
        top: 84px;
        width: 26px;
        z-index: 12;
      }

      @include lg {
        left: 80px;
      }
    }

    &.bash {
      @include xs-only {
        display: none;
      }

      @include sm {
        opacity: $logo-opacity;
        right: 10vw;
        top: 15vh;
        width: 5vw;
        z-index: 2;
      }

      @include smt {
        top: 17vh;
      }

      @include md {
        right: 15%;
        top: 150px;
        width: 35px;
      }

      @include lg {
        right: 10%;
        top: 200px;
      }

      @include xl {
        right: 10%;
        top: 210px;
      }
    }

    &.bootstrap {
      @include xs-only {
        display: none;
      }

      @include sm {
        opacity: $logo-opacity;
        right: 2vw;
        top: 8vh;
        width: 5vw;
        z-index: 12;
      }

      @include md {
        right: 10px;
        top: 65px;
        width: 30px;
      }
    }

    &.bower {
      @include xs-only {
        display: none;
      }

      @include sm {
        left: 20vw;
        opacity: $logo-opacity;
        top: 7vh;
        transform: rotate(-5deg);
        width: 8vw;
      }

      @include md {
        left: 120px;
        top: 185px;
        width: 45px;
      }

      @include lg {
        left: 12%;
      }

      @include xl {
        left: 11.5%;
        top: 160px;
        width: 50px;
      }
    }

    &.browserify {
      @include xs-only {
        display: none;
      }

      @include sm {
        opacity: $logo-opacity;
        right: 16vw;
        top: 10.3vh;
        width: 8vw;
      }

      @include md {
        left: 115px;
        right: auto;
        top: 65px;
        width: 45px;
      }

      @include lg {
        left: 11%;
      }
    }

    &.codepen {
      @include sm-only {
        display: none;
      }

      @include md {
        left: 20px;
        opacity: $logo-opacity;
        top: 220px;
        width: 30px;
      }

      @include lg {
        top: 230px;
      }
    }

    &.cordova {
      @include sm-only {
        display: none;
      }

      @include md {
        opacity: $logo-opacity;
        right: 15px;
        top: 160px;
        width: 30px;
      }

      @include xl {
        top: 150px;
        width: 50px;
      }
    }

    &.chrome {
      @include md-only {
        display: none;
      }

      @include lg {
        left: 23%;
        opacity: $logo-opacity;
        top: 60px;
        width: 40px;
      }

      @include xl {
        left: 24%;
      }
    }

    &.css-3 {
      opacity: $logo-opacity;
      right: 2vw;
      top: 1vh;
      width: 12vw;

      @include sm {
        width: 9vw;
      }

      @include md {
        right: 10px;
        width: 50px;
      }
    }

    &.d3 {
      @include xxs-only {
        display: none;
      }

      @include xs {
        opacity: $logo-opacity;
        right: 15vw;
        top: 6vh;
        width: 7vw;
      }

      @include smt {
        width: 5vw;
      }

      @include md {
        left: 175px;
        right: auto;
        top: 160px;
        width: 30px;
      }

      @include lg {
        left: 17%;
      }

      @include xl {
        left: 17%;
        top: 150px;
        width: 40px;
      }
    }

    &.emmet {
      @include xs-only {
        display: none;
      }

      @include sm {
        left: 13vw;
        opacity: $logo-opacity;
        top: 16vh;
        width: 5vw;
        z-index: 3;
      }

      @include md {
        left: auto;
        right: 100px;
        top: 85px;
        width: 30px;
      }

      @include lg {
        right: 11%;
      }

      @include xl {
        right: 10.5%;
        top: 70px;
        width: 40px;
      }
    }

    &.eslint {
      @include md-only {
        display: none;
      }

      @include lg {
        left: 23%;
        opacity: $logo-opacity;
        top: 110px;
        width: 35px;
      }

      @include xl {
        left: 21.5%;
        top: 110px;
        width: 45px;
      }
    }

    &.git {
      @include md-only {
        display: none;
      }

      @include lg {
        opacity: $logo-opacity;
        right: 15%;
        top: 190px;
        width: 35px;
      }

      @include xl {
        right: 13.5%;
        top: 200px;
      }
    }

    &.github {
      @include md-only {
        display: none;
      }

      @include lg {
        left: 24%;
        opacity: $logo-opacity;
        top: 10px;
        width: 40px;
      }

      @include xl {
        left: 25%;
      }
    }

    &.grunt {
      @include xs-only {
        display: none;
      }

      @include sm {
        opacity: $logo-opacity;
        right: 18vw;
        top: 15vh;
        width: 5vw;
        z-index: 3;
      }

      @include smt {
        top: 16vh;
      }

      @include md {
        left: 70px;
        top: 170px;
        width: 35px;
      }

      @include lg {
        left: 6%;
        width: 45px;
      }
    }

    &.gulp {
      opacity: $logo-opacity;
      right: 2vw;
      top: 15vh;
      width: 8vw;

      @include sm {
        top: 12vh;
        width: 7vw;
      }

      @include md {
        left: 15px;
        right: auto;
        top: 135px;
        width: 35px;
      }

      @include lg {
        top: 140px;
      }
    }

    &.handlebars {
      @include xs-only {
        display: none;
      }

      @include sm {
        left: 16vw;
        opacity: $logo-opacity;
        top: 4vh;
        transform: rotate(-5deg);
        width: 10vw;
      }

      @include md {
        left: 110px;
        top: 45px;
        width: 60px;
      }
    }

    &.html-5 {
      left: 2vw;
      opacity: $logo-opacity;
      top: 15vh;
      width: 12vw;
      z-index: 12;

      @include sm {
        top: 13.5vh;
        width: 9vw;
      }

      @include smt {
        top: 13vh;
        width: 7vw;
      }

      @include md {
        left: auto;
        right: 80px;
        top: 10px;
        width: 50px;
      }

      @include lg {
        right: 7%;
      }
    }

    &.ionic {
      @include sm-only {
        display: none;
      }

      @include md {
        opacity: $logo-opacity;
        right: 10px;
        top: 190px;
        width: 80px;
      }

      @include xl {
        top: 210px;
        width: 100px;
      }
    }

    &.jasmine {
      display: none;

      @include xl {
        display: block;
        left: 14.5%;
        opacity: $logo-opacity;
        top: 55px;
        width: 35px;
      }
    }

    &.jquery {
      left: 12vw;
      opacity: $logo-opacity;
      top: 2vw;
      width: 20vw;
      z-index: 12;

      @include sm {
        left: 10vw;
      }

      @include md {
        left: 67px;
        top: 15px;
        width: 120px;
      }
    }

    &.js {
      left: 2vw;
      opacity: $logo-opacity;
      top: 1vh;
      width: 14vw;

      @include sm {
        width: 12vw;
      }

      @include md {
        left: 10px;
        top: 10px;
        width: 80px;
      }
    }

    &.less {
      @include sm-only {
        display: none;
      }

      @include md {
        opacity: $logo-opacity;
        right: 15px;
        top: 130px;
        width: 40px;
      }

      @include xl {
        right: 5.5%;
        top: 170px;
        width: 50px;
      }
    }

    &.marionette {
      @include sm-only {
        display: none;
      }

      @include md {
        left: 70px;
        opacity: $logo-opacity;
        top: 120px;
        width: 26px;
        z-index: 2;
      }
    }

    &.meteor {
      @include sm-only {
        display: none;
      }

      @include md {
        left: 200px;
        opacity: $logo-opacity;
        top: 5px;
        width: 40px;
      }

      @include lg {
        left: 19%;
      }

      @include xl {
        left: 20%;
        width: 50px;
      }
    }

    &.mocha {
      @include sm-only {
        display: none;
      }

      @include md {
        left: 175px;
        opacity: $logo-opacity;
        top: 55px;
        width: 40px;
      }

      @include lg {
        left: 17%;
      }

      @include xl {
        left: 17.5%;
        width: 55px;
      }
    }

    &.modernizr {
      display: none;

      @include xl {
        display: block;
        left: 15%;
        opacity: $logo-opacity;
        top: 25px;
        width: 45px;
      }
    }

    &.mongodb {
      @include sm-only {
        display: none;
      }

      @include md {
        opacity: $logo-opacity;
        right: 120px;
        top: 115px;
        width: 95px;
      }

      @include lg {
        right: 13%;
        width: 110px;
      }

      @include xl {
        right: 10%;
        width: 140px;
      }
    }

    &.mysql {
      @include sm-only {
        display: none;
      }

      @include md {
        opacity: $logo-opacity;
        right: 160px;
        top: 75px;
        width: 40px;
      }

      @include lg {
        right: 15%;
      }
    }

    &.nodejs {
      opacity: $logo-opacity;
      right: 14vw;
      top: 0.6vh;
      width: 20vw;

      @include sm {
        top: 0.2vh;
      }

      @include md {
        left: 120px;
        right: auto;
        top: 105px;
        width: 110px;
      }

      @include lg {
        left: 12%;
        transform: rotate(0deg);
      }

      @include xl {
        left: 10%;
        width: 130px;
      }
    }

    &.npm {
      @include xs-only {
        display: none;
      }

      @include sm {
        opacity: $logo-opacity;
        right: 20vw;
        top: 4vh;
        transform: rotate(-5deg);
        width: 8vw;
      }

      @include md {
        left: 110px;
        right: auto;
        top: 150px;
        transform: rotate(10deg);
        width: 50px;
      }

      @include lg {
        left: 11%;
      }

      @include xl {
        left: 8%;
        top: 140px;
      }
    }

    &.octocat {
      left: 40vw;
      opacity: $logo-opacity;
      top: 0;
      width: 20vw;
      z-index: 1;

      @include xs {
        top: 0;
      }

      @include sm {
        left: 48vw;
        top: 0;
        width: 20vw;
      }

      @include smt {
        width: 17vw;
      }

      @include md {
        display: none;
      }
    }

    &.php {
      @include xs-only {
        display: none;
      }

      @include sm {
        left: 13vw;
        opacity: $logo-opacity;
        top: 12vh;
        transform: rotate(5deg);
        width: 7vw;
        z-index: 12;
      }

      @include md {
        left: auto;
        right: 150px;
        top: 50px;
        width: 45px;
      }

      @include lg {
        right: 14%;
      }
    }

    &.polymer {
      @include sm-only {
        display: none;
      }

      @include md {
        opacity: $logo-opacity;
        right: 8%;
        top: 140px;
        width: 45px;
      }

      @include xl {
        right: 10%;
        top: 160px;
        width: 50px;
      }
    }

    &.python {
      @include md-only {
        display: none;
      }

      @include lg {
        opacity: $logo-opacity;
        right: 13%;
        top: 160px;
        width: 35px;
      }

      @include xl {
        right: 16%;
        top: 170px;
      }
    }

    &.react {
      left: 4vw;
      opacity: $logo-opacity;
      top: 14vw;
      width: 12vw;

      @include sm {
        left: 2vw;
        width: 9vw;
      }

      @include smt {
        top: 8vh;
      }

      @include md {
        left: 12px;
        top: 90px;
        width: 50px;
      }
    }

    &.rest {
      display: none;

      @include xl {
        display: block;
        opacity: $logo-opacity;
        right: 27%;
        top: 15px;
        width: 40px;
      }
    }

    &.ruby {
      @include md-only {
        display: none;
      }

      @include lg {
        opacity: $logo-opacity;
        right: 18%;
        top: 160px;
        width: 35px;
      }

      @include xl {
        right: 21%;
        top: 160px;
      }
    }

    &.sass {
      opacity: $logo-opacity;
      right: 2vw;
      top: 11vh;
      width: 12vw;

      @include sm {
        right: 3vw;
        top: 9vh;
      }

      @include md {
        right: 20px;
        top: 75px;
        width: 70px;
      }

      @include xl {
        right: 2%;
        width: 100px;
      }
    }

    &.sketch {
      @include md-only {
        display: none;
      }

      @include lg {
        opacity: $logo-opacity;
        right: 25%;
        top: 70px;
        width: 40px;
      }

      @include xl {
        right: 22.5%;
        top: 115px;
      }
    }

    &.svg {
      left: 11vw;
      opacity: $logo-opacity;
      top: 16vh;
      width: 6vw;
      z-index: 13;

      @include sm {
        left: 8vw;
        top: 14.3vh;
        width: 4vw;
      }

      @include smt {
        top: 14vh;
      }

      @include md {
        left: auto;
        right: 60px;
        top: 20px;
        width: 30px;
      }

      @include lg {
        right: 6%;
      }
    }

    &.swift {
      @include md-only {
        display: none;
      }

      @include lg {
        left: 22%;
        opacity: $logo-opacity;
        top: 170px;
        width: 30px;
      }

      @include xl {
        left: 21%;
      }
    }

    &.webplatform {
      @include sm-only {
        display: none;
      }

      @include md {
        opacity: $logo-opacity;
        right: 195px;
        top: 15px;
        width: 30px;
      }

      @include lg {
        right: 18%;
      }
    }

    &.wordpress {
      @include xs-only {
        display: none;
      }

      @include sm {
        left: 17vw;
        opacity: $logo-opacity;
        top: 12vh;
        width: 7vw;
      }

      @include md {
        left: auto;
        right: 140px;
        top: 20px;
        width: 40px;
      }

      @include lg {
        right: 13%;
      }
    }

    &.yeoman {
      display: none;

      @include xl {
        display: block;
        left: 15%;
        opacity: $logo-opacity;
        top: 200px;
        width: 35px;
      }
    }
  }
}

@keyframes fade {
  0% {
    display: block;
    opacity: $logo-opacity;
  }

  100% {
    display: none;
    opacity: 0;
  }
}
