@import 'variables';
@import 'utils';

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: #E4A93C;
  margin: 0;
  min-height: 100%;
  padding: 0;

  &:before {
    background-image: url('../media/developer.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 180%;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;

    @include sm {
      background-size: 150%;
      opacity: 0.8;
    }

    @include md {
      background-size: 100%;
    }
  }
}

.main-header {
  position: relative;
  text-align: center;
  z-index: 10;

  h1 {
    color: #e43c3c;
    font-size: 4.5rem;
    line-height: 1em;
  }
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

main {
  text-align: center;
}

