$brand-primary: #f05350; //e43c3c;
$headings-font-family: 'Roboto Condensed', sans-serif;
$headings-font-weight: 700;

$screen-xxs: 400px;
$screen-xxs-min: $screen-xxs;
$screen-xxs-max: $screen-xxs - 1;

$screen-smt: 600px;
$screen-smt-min: $screen-smt;
$screen-smt-max: $screen-smt - 1;

$screen-md: 1024px;
$screen-lg: 1280px;

$section-color: #aaa;
$section-color-odd: #fff;
$section-color-even: #003650;
