$brand-primary: #e43c3c;
$headings-font-family: 'Roboto Condensed', sans-serif;
$headings-font-weight: 700;

$screen-xxs: 400px;
$screen-xxs-min: $screen-xxs;
$screen-xxs-max: $screen-xxs - 1;

$screen-smt: 600px;
$screen-smt-min: $screen-smt;
$screen-smt-max: $screen-smt - 1;
