html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6rem;
  margin: 0;
  min-height: 100%;
  padding: 0 0 $grid-gutter-width;
}


.container {
  max-width: 960px;
  width: auto;

  @include sm {
    margin: 0 $grid-gutter-width;
  }

  @include md {
    margin: 0 ($grid-gutter-width * 3);
  }

  @include lg {
    margin: 0 auto;
  }
}

main {
  @include lg {
    position: relative;
  }
}
