$switcher-color: #000;

.main-header {
  @include jagged($section-color);
  background-image: linear-gradient(to bottom, $section-color-odd, $section-color 90%);
  background-repeat: no-repeat;
  height: 94vh;
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-top: 7rem;
  position: relative;
  text-align: center;

  @include xs {
    padding-top: 7rem;
  }

  @include sm-only {
    z-index: 10;
  }

  @include sm {
    padding-top: 9rem;
  }

  @include md {
    padding-top: 12rem;
  }

  @include lg {
    padding-top: $grid-gutter-width * 3;
  }

  .wrapper {
    display: inline-block;
    position: relative;
    width: 21rem;
    z-index: 15;

    @include md {
      width: 27.5rem;
    }

    @include lg {
      width: 34.5rem;
    }
  }

  h1 {
    background-color: #000;
    color: #fff;
    font-family: Georgia, serif;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
    line-height: 1em;
    margin: 0;
    padding: 1rem;
    position: relative;

    @include md {
      font-size: 4rem;
    }

    @include lg {
      font-size: 5rem;
      padding: 1.6rem;
    }
  }

  h2 {
    color: #000;
    font-size: 1.9rem;
    margin: 0.5rem 0 0;
    position: relative;
    white-space: nowrap;
    z-index: 5;

    @include md {
      font-size: 2.5rem;
    }

    @include lg {
      font-size: 3.2rem;
    }
  }

  .menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    position: relative;

    > li {
      display: inline-block;
      line-height: 1;
      width: percentage(1 / 3);

      @include lg {
        width: percentage(1 / 4);
      }

      &:last-of-type {
        @include md-only {
          margin-top: 1.5rem;
          width: 100%;
        }
      }
    }

    a {
      color: #000;
      position: relative;
      text-decoration: none;

      &:before {
        background: $brand-primary;
        bottom: 0;
        content: '';
        display: block;
        height: 0.2rem;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }

  .language {
    font-size: 0;
    line-height: 0;
    margin-top: 2rem;
    text-align: right;
  }

  .switchbox {
    label {
      background-color: #fff;
      border: 0.1rem solid $switcher-color;
      border-radius: 0.3rem;
      cursor: pointer;
      display: inline-block;
      height: 2.2rem;
      position: relative;
      width: 7rem;

      span.on,
      span.off {
        font-size: 1.2rem;
        font-weight: 600;
        height: 1.6rem;
        line-height: 1.4;
        padding: 0.2rem 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 50%;
      }

      span.on {
        border-bottom-right-radius: 0.2rem;
        border-top-right-radius: 0.2rem;
        color: #fff;
        left: 0;
        right: inherit;
      }

      span.off {
        border-bottom-right-radius: 0.2rem;
        border-top-right-radius: 0.2rem;
        color: $switcher-color;
        right: 0;
      }
    }

    input {
      display: none;

      &:checked {
        + label {

          span.on {
            color: $switcher-color;
          }

          span.off {
            color: #fff;
          }

          &:before {
            left: 50%;
          }
        }

      }

      + label:before {
        background: $switcher-color;
        content: '';
        display: block;
        height: 2rem;
        left: 0;
        position: absolute;
        top: 0;
        transition: 0.3s;
        width: 50%; /* W3C */
      }

    }
  }

  .bio {
    color: #000;
    margin: 0 auto;
    padding: 10vh ($grid-gutter-width / 2);

    @include xs {
      padding: 12vh $grid-gutter-width;
    }

    @include md {
      max-width: 68rem;
    }

    @include lg {
      max-width: 90rem;
      padding: 12vh 0;
    }

    @include xl {
      padding: 15vh 0;
    }

    p {
      font-size: 2.4rem;
      font-weight: 700;
      margin: 0;

      @include xs {
        font-size: 2.8rem;
      }

      @include md {
        font-size: 3rem;
      }

      @include lg {
        font-size: 4.6rem;
      }

      @include xl {
        font-size: 4.6rem;
      }

      + p {
        margin-top: $grid-gutter-width;
      }

      a {
        color: $text-color;
        text-decoration: underline;
      }
    }
  }
}
