.main-header {
  @include jagged($section-color);
  background-image: linear-gradient($section-color-odd, $section-color);
  background-repeat: no-repeat;
  margin: ($grid-gutter-width * 1.3) auto 0;
  padding-bottom: 20px;
  position: relative;
  text-align: center;

  @include xs {
    margin-top: 35px;
  }

  @include sm-only {
    z-index: 10;
  }

  @include sm {
    margin-top: $grid-gutter-width* 1.5;
  }

  @include md {
    margin-top: $grid-gutter-width * 2;
  }

  @include lg {
    height: 84vh;
    margin-top: $grid-gutter-width * 3;
  }

  .wrapper {
    display: inline-block;
    position: relative;
    width: 210px;
    z-index: 15;

    @include md {
      width: 270px;
    }

    @include lg {
      width: 340px;
    }
  }

  h1 {
    background-color: #000;
    color: #fff;
    font-family: Georgia, serif;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
    line-height: 1em;
    margin: 0 0 1rem;
    padding: 10px;
    position: relative;

    @include md {
      font-size: 4rem;
    }

    @include lg {
      font-size: 5rem;
      padding: 16px;
    }
  }

  h2 {
    font-size: 1.8rem;
    margin: 0;
    position: relative;
    z-index: 5;

    @include md {
      font-size: 2.45rem;
    }

    @include lg {
      font-size: 3rem;
    }
  }

  .menu {
    margin-top: 10px;
    pointer-events: none;
    position: relative;

    a {
      color: #000;
      float: left;
      pointer-events: all;
      position: relative;
      text-decoration: none;

      @include lg {
        font-size: 1.6rem;
      }

      &:before {
        background: $brand-primary;
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        width: 100%;
      }
    }

    a:nth-of-type(2) {
      float: right;
    }
  }

  .language {
    margin-top: -20px;

    a {
      background-color: #fff;
      border: 1px solid #aaa;
      color: #aaa;
      font-size: 1.2rem;
      line-height: 1;
      padding: 1px 4px;
      text-decoration: none;

      &.active {
        background-color: #aaa;
        color: #fff;
      }
    }
  }

  .bio {
    margin: 0 auto;
    padding: 15vh ($grid-gutter-width / 2);

    @include xs {
      padding: 12vh $grid-gutter-width;
    }

    @include sm {

    }

    @include md {
      max-width: 680px;
      padding: 9vh ($grid-gutter-width / 2);
    }

    @include lg {
      max-width: 900px;
      padding: 12vh 0;
    }

    @include xl {
      padding: 15vh 0;
    }

    p {
      font-size: 2.4rem;
      font-weight: 700;
      margin: 0;

      @include xs {
        font-size: 2.8rem;
      }

      @include md {
        font-size: 3rem;
      }

      @include lg {
        font-size: 4.6rem;
      }

      @include xl {
        font-size: 4.6rem;
      }

      + p {
        margin-top: $grid-gutter-width;
      }

      a {
        color: $text-color;
        text-decoration: underline;
      }
    }
  }
}
