.main-header {
  @include jagged($section-color-even);
  background-image: linear-gradient($section-color-odd, $section-color-even);
  background-repeat: no-repeat;
  margin: $grid-gutter-width auto 0;
  padding-bottom: 20px;
  position: relative;
  text-align: center;

  @include xs {
    margin-top: 35px;
  }

  @include sm-only {
    z-index: 10;
  }

  @include sm {
    margin-top: $grid-gutter-width* 1.5;
  }

  @include md {
    margin-top: $grid-gutter-width * 2;
  }

  @include lg {
    margin-top: $grid-gutter-width * 3;
  }

  @include xl {
    margin-top: $grid-gutter-width * 5;
  }


  h1 {
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-family: Georgia, serif;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
    line-height: 1em;
    margin: 0 0 1rem;
    padding: 10px;
    position: relative;
    z-index: 10;

    @include md {
      font-size: 4rem;
    }

    @include lg {
      font-size: 5rem;
      padding: 16px;
    }
  }

  h2 {
    display: inline-block;
    font-size: 1.8rem;
    margin: 0;
    position: relative;

    @include md {
      font-size: 2.45rem;
    }

    @include lg {
      font-size: 3rem;
    }
  }

  > .menu {
    display: inline-block;
    margin-top: 10px;
    position: relative;
    width: 200px;
    z-index: 10;

    @include md {
      width: 270px;
    }

    @include lg {
      width: 340px;
    }

    a {
      color: #000;

      float: left;
      position: relative;
      text-decoration: none;

      @include lg {
        font-size: 1.6rem;
      }

      &:before {
        background: $brand-primary;
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        width: 100%;
      }
    }

    a:nth-of-type(2) {
      float: right;
    }
  }

  .bio {
    margin: 0 auto;
    padding: ($grid-gutter-width) ($grid-gutter-width / 2);

    @include xs {
      padding-bottom: $grid-gutter-width;
      padding-top: $grid-gutter-width * 2;
    }

    @include sm {
      padding-left: $grid-gutter-width;
      padding-right: $grid-gutter-width;
    }

    @include md {
      max-width: 680px;
      padding: ($grid-gutter-width * 3) ($grid-gutter-width / 2);
    }

    @include lg {
      max-width: 900px;
      padding: ($grid-gutter-width * 3) 0;
    }

    @include xl {
      padding: ($grid-gutter-width * 4) 0;
    }

    p {
      font-size: 2.2rem;
      font-weight: 700;
      margin: 0;

      @include sm {
        font-size: 2.4rem;
      }

      @include md {
        font-size: 2.6rem;
      }

      @include lg {
        font-size: 3rem;
      }

      @include xl {
        font-size: 3.6rem;
      }

      + p {
        margin-top: $grid-gutter-width;
      }

      a {
        color: $text-color;
        text-decoration: underline;
      }
    }
  }
}
