.section {
  padding: 20px 0 $grid-gutter-width;

  @include sm {
    padding-bottom: $grid-gutter-width * 1.5;
  }

  @include md {
    padding-bottom: $grid-gutter-width * 2;
  }

  @include lg {
    padding-bottom: $grid-gutter-width * 3;
  }

  &:nth-of-type(odd):not(:last-of-type) {
    background-color: $section-color-odd;
    color: #000;
  }

  &:nth-of-type(even):not(:last-of-type) {
    background-color: $section-color-even;
    color: $section-color-odd;
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.6rem;
    font-weight: 800;
    margin: $grid-gutter-width 0;

    @include md {
      font-size: 3.2rem;
      margin: ($grid-gutter-width * 2) 0 $grid-gutter-width;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.summary {
  .section__list {
    > li {
      font-size: 1.6rem;

      &:before {
        content: '—';
        padding-right: 5px;
      }

      + li {
        padding-top: 10px;
      }
    }
  }
}

.skills {
  .section__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > li {
      margin-bottom: $grid-gutter-width / 2;
      width: 100%;

      @include lg {
        width: 50%;
      }

      &:last-of-type {
        flex-grow: 1;
        margin-bottom: 0;
      }

      h4 {
        margin-top: 0;
      }
    }
  }
}

.projects {
  .section__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > li {
      margin-bottom: $grid-gutter-width;
      text-align: center;
      width: 100%;

      @include xs {
        width: percentage(1 / 2);
      }

      @include md {
        text-align: center;
        width: percentage(1 / 3);
      }

      @include lg {
        width: percentage(1 / 3);
      }

      .project {
        display: block;
        font-size: 1.8rem;
        text-align: center;
        text-decoration: none;

        @include md {
          font-size: 1.8rem;
          text-align: center;
        }

        &__image {
          display: block;
          height: 0;
          margin: 0 auto 5px;
          padding-bottom: 60%;
          vertical-align: middle;
          width: 60%;

          @include md {
            display: block;
            margin: 0 auto 5px;
            padding-bottom: 50%;
            width: 50%;
          }

          img {
            width: 100%;
          }
        }

        &__name {
          display: block;
          font-size: 2rem;
          text-align: center;
        }
      }
    }
  }

  &__more {
    font-size: 1.8rem;
  }
}

.experience {

  .section__list {

    > li {
      .title {
        display: block;
        font-size: 1.6rem;
      }

      .timeframe {
        color: #aaa;
        display: block;
        margin-top: 3rem;

        &:before {
          color: #666;
          content: '—';
          padding-right: 5px;
        }
      }

      em {
        color: #aaa;
        display: block;
        margin-top: 10px;
      }
    }
  }
}
